{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Users {{ users.username }}</h1>
    <p>{{ users.id }}. {{ users.username }} <br> {{ users.password }} <br> {{ users.firstname }} <br> {{ users.lastname }} <br> {{ users.email }} <br></p>
    <a href="/form/add">Back</a>
{% endblock %}
