{% extends 'layout.html.twig' %}

{% block content %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <div class="row">
        <div class="user-contain col-6 offset-3">

            <h1 class="teext"> Hello {{ user.job}} {{ user.username }}</h1>

            <h2> Your Profil : </h2>

            <table>
                <tbody>
                    <tr>
                        <td class="title-td">Lastname: {{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <td class="title-td">Firstname: {{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <td class="title-td">Username: {{ user.username }}</td>
                    </tr>
                    <tr>
                        <td class="title-td">E-mail: {{ user.email }}</td>
                    </tr>
                    <tr>
                        <td class="title-td">Job: {{ user.job }}</td>
                    </tr>
                    <tr>
                        <td class="title-td">Town: {{ user.town }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}